*{
	padding: 0;
	margin: 0;
}
html{
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; 
  font-weight: 400;
  line-height: 1.4;
}

nav{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	background-color :  #be3144;
	position: fixed;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
ul{
	list-style-type: none;
}
nav > ul{
	display: flex;
	flex-direction: row;
	margin-right: 2rem;
	padding: 15px;
}
a{
	text-decoration: none;
}
nav > ul > li > a{
color: white;
font-size: 2.2rem;
  padding: 15px;
}
nav > ul > li > a:hover {
	background-color:  #45567d;
}
.About{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #000;
		background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); 
}
.About > p{
	font-size: 1.8em;
	font-weight 200;
	font-style: italic;
	color: #be3144;
}
.About> h1{
	color: white;
}
.Work{
	background-color: #45567d;
	width: 100%;
	height: auto;
}
.Work > h2{
	padding-top: 10%;
	color: white;
	max-width: 640px;
	margin: 0 auto 6rem auto;
	border-bottom: 0.2rem solid white;
}
h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}
.work-grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 2rem;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	margin-bottom: 6rem;
	text-align: center;
}

.works{
background: #303841;
margin: 15px;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
border-radius: 2px;
}
.work-img{
	height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}
.code {
  color: #303841;
  transition: color 0.3s ease-out;
}

.works:hover .code {
  color: #ff7f50;
}
.work-heading{
color: white;
 font-size: 2rem;
  padding: 2rem 0.5rem;
}
.button{
	padding: 5px;
	padding-top: 8px;
	color: white;
	background-color:#303841;
	width: 120px;
	height: 30px;
}
.butall{
	height: 16vh;
	display: flex;
	justify-content: center;
	align-items: top;
	text-align: center;
}

.button:hover {
  background: #be3144;
}

.button:hover > i {
  transform: translateX(2px);
}

.button > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}
.Contact{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #303841;
	width: 100%;
	height: 80vh;
	text-align: center;
}
.Contact-heading{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Contact-heading > h2,p{
	color: white;
}
@media (max-width: 28.75em) {
  .Contact-heading > h2 {
    font-size: 4rem;
  }
}
.Contact-heading > p {
  font-style: italic;
}
.Contact-heading > h2{
	font-size: 6rem;
}
.Contact-icon{
	 display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}
.contact-details {
	color: white;
	padding-right: 25px;
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}
footer {
  color: white;
  font-weight: 300;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background:  #303841 ;
  border-top: 4px solid #be3144;
}

footer > p {

  margin: 2rem;
}

footer i {
	color: white;
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}